* {
    margin: 0px;
    padding: 0px;
}

#page-heading {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

/* liner radient background color */

body{
    height: 900px;
    width: 100%;
    background-image: linear-gradient(white 60%,green ,red);
   
    
}

/* defult button design */
#ture-button {
    border: solid green 3px;
    padding-right: 13px;
    padding-left: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius:15px;
    margin-left: 60%;
 }

 #false-button {
    border: solid red 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius:15px;
    margin-left: 40%;
 }


 
 #Question1 {
    border: 1px solid black;
    height: 300px;
    width: 600px;
    margin: 0 auto;
    
   
   
 }

 #Question1-text {
    text-align: center;
    margin-top: 15px;
 }

 
 #ture-div {
    
display: inline-block;

left: 30%;
 margin-bottom: 40px;
 margin-top: 30px;

 }

 #fasle-div {
 display: inline-block;
 margin-left: 45% ;
 margin-bottom: 40px;
 margin-top: 30px;

 }
 
#false-button {
    margin: 10px;
}
