* {
    margin: 0px;
    padding: 0px;
}

#page-heading {
    text-align: center;
    margin-top: 3rem;
}

body{
    height: 900px;
    width: 100%;
    background-image: linear-gradient(white 60%,green ,red);
   
    
}